*{
    padding: 0;
    margin: 0;
    background-color: rgb(204, 204, 204);
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    height: 10vh;
    width: 100%;
}